<%# Below is the index page for Work showing all the current work %>
<h1 class="explore-nft">Explore all NFT art offered on JIG</h1>

<%# Below is a filter used on the index page, allowing users to filter out high, medium or low value traits - This method plucks the params raity of each property and presents it as a filter %>
<div class="index-filter">
  <%= form_with url: works_path, local: true, role:"search", method: :get do |f| %>
      <%= f.label :rairty, 'Traits' %>  
     <%= f.select :rairty , Property.pluck(:rairty).uniq %>  
    <%= f.submit "search"%> 
 <% end %>  
</div>

<%# Below is a filter used on the index page, allowing users to filter out different blockchains. This method plucks out the different blockchains and adds it as a filter. Removing irrelevant works%>
<div class="index-filter">
  <%= form_with url: works_path, local: true, role:"search", method: :get do |f| %>
      <%= f.label :blockchain, 'Blockchain' %>  
     <%= f.select :blockchain , Work.pluck(:blockchain).uniq %>  
    <%= f.submit "search"%> 
 <% end %>  
</div>

<%#  Loop around work to present all the work, and individually presenting name, artist and image %>
<%# link to saved to div to allow easy access to the the specific work show page %>
<div class="all-nfts">
<% @works.each do |work| %>
  <%= link_to work_path(work.id) do %>
  <div class="NFT-cards">
     <%=  cl_image_tag(work.picture, alt:work.name, class:'NFT-image')%>
     <%= work.name %>
    <%= work.artist %>
  </div>
  <% end %>
<% end %>
</div>

