<h1>Explore NFTs</h1>

<div class="index-filter">
  <%= form_with url: works_path, local: true, role:"search", method: :get do |f| %>
      <%= f.label :trait, 'Traits' %>  
     <%= f.select :trait , Property.pluck(:trait).uniq %>  
    <%= f.submit "search"%> 
 <% end %>  
</div>

<div>
<%# <%= form_with url: works_path, local: true, role:"search", method: :get do |f| %> 
  <%# <%= f.text_field :trait_value, placeholder: 'Search Unquie Traits' %>  
  <%# <%= f.submit "Search" %> 
  <%# <% end %> 
  <%# </form> %>
 </div>
 




<%# <%= select_tag "Properties", options_for_select(@properties.trait, 'trait') %> 
<div class="all-nfts">
<% @works.each do |work| %>
  <%= link_to work_path(work.id) do %>
  <div class="NFT-cards">
     <%=  cl_image_tag(work.picture, alt:work.name, class:'NFT-image')%>
     <%= work.name %>
    <%= work.artist %>
  </div>
  <% end %>
<% end %>
</div>




<%# Add pictures here %>