<%# This is the show page for each individual Work with its added features %>

<%# Below is the flash messages for each bid depending on error or win situation %>
    <div class="flash_message">
        <div class="flash_bad">
          <% if flash[:bid_message].present? %>
            <%= flash[:bid_message] %>
          <% end %>
          <% if flash[:currency_message].present? %>
            <%= flash[:currency_message] %>
          <% end %>
        </div>
        <div class="flash_win">
          <% if flash[:win_message].present? %>
            <%= flash[:win_message] %>
          <% end %>
        </div>
      </div>
   
   
  <%# This is the edit and delete links to each work - similarly a warning message is presented if a user tries to delete a work %>
  <div class="edit-delete">
      <% if @current_user.present? && @current_user.id == @work.user_id %>
      <a><%= link_to 'Edit', edit_work_path(@work.id) %></a>
      |
      <a></a><%= link_to 'Delete', work_path(@work.id), method: 'delete', :data => { :confirm => 'Are you sure you want to Delete this NFT?'} %>
      </a>
      <% end %>
  </div>

  <%# Work page information split between left and right showing different features of each work%>

  <%# Left side presents information including genre, properties and image %>
<div class="work-page">
    <div class="left">
      <%= cl_image_tag @work.picture, alt: @work.name, class: 'show-nft' %>
    <h3 class="heading-center"> Genres</h3>   
    <div class="genre">
      <% @work.genres.each do |genre| %> 
      <br>
      <div class="gen-item">
      <a><%= link_to genre.name, genre_path(genre.id) %> 
      </div>
      <% end %> 
    </div>
    <h3 class="heading-center">Properties</h3>
    <div class="properties">
      <br>
      <% @work.properties.each do |property| %>
        <div class="trait">
            <%= property.trait %>
            <br>
            <%= property.trait_value %>
            <br>
            <strong>Rarity</strong>
          <strong><%= property.percentage %>%</strong>
        </div>
         <br>
      <% end %>
    </div>
  </div>

<%#Right hand side presents owner, artist, description and bid function  %>
  <div class="right">
    <div class="work_info">
      <h2 class="heading"><em><%= @work.name %></em></h2>

        <div class="collector-info">
          <%= link_to user_path(@work.user.id) do %>
            <div class="owner"> 
              <h4 class="info-h">Owner</h4>
              <%= @work.user.name %> 
            </div>
          <% end %>
          <div class="artist">
            <h4 class="info-h">Creator</h4>
            <%= @work.artist%>
          </div>
        </div>
          <div class="show-des">
            <br>
            <%= @work.description %>
          </div>
          <br>
          <div class="token">
            <div class="price">
            <h4>Price</h4>
            <%= @work.price %> <%= @work.currency %>
            </div>
            <div class="block">
            <h4>Blockchain</h4>
            <%= @work.blockchain %>
            </div>
            <div class="token-id">
            <h4>Token id</h4>
            <%= @work.token_id %>
            </div>
        </div>


    <table class="table">
      <br>
      <tr>
      <th>Bid</th>
      <th>Blockchain</th>
      <th>User</th>
      <th>Date</th>
      </tr>
      <tr>
      <%# filters through and extracts the information of the last 5 bids to present on the website %>
       <% @work.bids.last(5).each do |i| %>
      <td><%=" #{i.price}" %></td>
      <td><%=" #{i.currency}" %></td>
      <%# <td><%=" #{i.user.name}" %></td> 
      <td><%=" #{i.created_at.strftime '%d/%m/%Y'}" %></td>
      </tr>
      <% end %>
      <tr>
      <%# Form on the show page to allow register users only to make bids %>
      <div class="form">
      <% if @current_user.present? %>
      <%= form_with model: @bid, local: true  do |f| %>
      <td class="bid-form"><%= f.text_field :price, string: "Add" %></td> 
      <br>
      <td class="bid-form"><%= f.text_field :currency %></td>
      <br>
       <td class="bid-sub"><%= f.submit %></td>
      <td><%= f.hidden_field :work_id, value: @work.id %></td>
       <td><%= f.hidden_field :created_at%></td>
      
      </tr>
        <% end %>
      <% end %>
    </table>
   </div>
  </div>
</div>