<%# Specific user name presented at the top of the page %>
<h1><%= @user.name %></h1>

<%# Loops through all users work individually and extracts specific information regarding each Wrok including Image, name of art, artist and price %>
<div class="show-all">
    <% @user.works.each do |work| %>
        <%= link_to work_path(work.id) do %>
        <div class="show">
        <%= cl_image_tag work.picture, alt:work.name, class: 'work-collection' %>
        <br>
        <%= work.name %>
        <br>
        <%= work.artist %>
        <br>
        <%= work.price %>  <%= work.currency %>
      </div>
    <% end  %>

<% end  %>
</div>
