
<h1><%= @user.name %></h1>

<div class="show-all">
    <% @user.works.each do |work| %>
        <%= link_to work_path(work.id) do %>
        <div class="show">
        <%= cl_image_tag work.picture, alt:work.name, class: 'work-collection' %>
        <br>
        <a><%= link_to work.name, %></a>
        <br>
        <%= work.artist %>
        <br>
        <%= work.price %>  <%= work.currency %>
      </div>
    <% end  %>

<% end  %>
</div>
