<div class="user">
<h1><%= @user.name %></h1>
<ul>
<% @user.works.each do |work| %>
<br>
<%= cl_image_tag work.picture, alt:work.name, class: 'user-collection' %>
<br>
<a><%= link_to work.name, work_path(work.id) %></a>
<br>
<%= work.artist %>
<br>
<%= work.price %>  <%= work.currency %>
<% end  %>
</ul>
</div>